.filters {
  min-width: 200px;
  margin-right: $gutter;

  &__item {
    margin-bottom: 30px;
  }

  &__title {
    font-size: 20px;
  }

  &__device-close-btn {
    display: none;
  }

  @media (max-width: map-get($breakpoints, sm)) {
    width: 250px;
    margin-right: 0;
    padding: 30px;
    border-radius: 0 0 0 4px;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    background: $bg-color;
    transform: translateX(100%);

    &--open {
      transition: transform .4s ease-in-out;
      transform: translateX(0);
    }

    &__title {
      margin-top: 0;
    }

    &__device-close-btn {
      display: block;
      position: absolute;
      top: 25px;
      right: 25px;
      color: $light-grey;
      padding: 10px;
    }
  }
}

.filters-overlay {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(black, .7);
  z-index: 1;
}

.genres {
  padding: 0;
  list-style-type: none;

  li {
    margin-bottom: 7px;
  }
}

.rating-slider {
  position: relative;

  .rc-slider-rail {
    height: 3px;
    width: 100%;
    background: $light-grey;
    border-radius: 4px;
  }

  .rc-slider-track {
    background: $primary-color;
    position: absolute;
    height: 3px;
    top: 0;
    z-index: 1;
    border-radius: 4px;
  }

  &__handle {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: $primary-color;
    position: absolute;
    left: 30%;
    transform: translateY(-60%) translateX(-60%)
  }

  &__handle span {
    display: block;
    position: relative;
    top: calc(100% + 3px);
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: $primary-color;
  }
}