@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import './variables';
@import './checkbox';

html {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.now-showing {

  &__heading {
    margin-bottom: $gutter;
  }
}