@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import './variables';
@import './checkbox';
@import './filters';
@import './card';

html {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $dark-grey;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.now-showing {
  max-width: 1280px;
  margin: ($gutter * 2) auto 0;

  &__content {
    display: flex;
  }

  &__heading {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: $gutter;
  }
}

a {
  color: $primary-color;
  text-decoration: none;
}

.movies {
  padding: 0;
  list-style-type: none;

  li {
    display: inline-block;
    margin-right: $gutter;
    margin-bottom: $gutter;
  }

  li:nth-child(4n) {
    margin-right: 0;
  }
}