@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import './variables';
@import './checkbox';
@import './filters';
@import './card';

html {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $dark-grey;
  margin: 0;
  padding: 0;
  background-color: $bg-color;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.now-showing {
  padding: 0 $gutter;
  max-width: 1280px;
  margin: ($gutter * 2) auto 0;

  &__content {
    display: flex;
  }

  &__heading {
    font-size: 35px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: $gutter;
    display: inline-block;
  }

  &__device-filters-btn {
    font-size: 14px;
    display: none;
    position: absolute;
    right: 25px;
    top: 60px;
  }

  &__device-filters-btn svg {
    margin-right: 5px;
    position: relative;
    top: 1px;
  }

  @media (max-width: map-get($breakpoints, sm)) {

    &__heading {
      font-size: 25px;
    }

    &__device-filters-btn {
      display: inline-block;
    }
  }
}

a {
  color: $primary-color;
  text-decoration: none;
}

.movies {
  padding: 0;
  list-style-type: none;
  width: 100%;

  li {
    display: inline-block;
    margin-right: $gutter;
    margin-bottom: $gutter;
    width: 23%;
  }

  li:nth-child(4n) {
    margin-right: 0;
  }

  @media (max-width: map-get($breakpoints, xl)) {

    li {
      width: 31%;
    }

    li:nth-child(4n) {
      margin-right: $gutter;
    }

    li:nth-child(3n) {
      margin-right: 0;
    }
  }

  @media (max-width: map-get($breakpoints, lg)) {

    li {
      width: 45%;
    }

    li:nth-child(3n) {
      margin-right: $gutter;
    }

    li:nth-child(2n) {
      margin-right: 0;
    }
  }

  @media (max-width: 350px) {

    li {
      width: 100%;
      margin-right: 0;
    }
  }
}
